.container {
    width: 70vw;
    height: 100vh;
    text-align: center;
    margin: 0 auto;
    display: flex;
    margin-bottom: 100px;
    flex-direction: column;
}
.semi_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2.7vw;
    padding-bottom: 2vh;
    margin: 0 auto;
}
.text-wrapper {
    margin-top: 20px;
    margin-bottom: 25px;
    font-weight: bold;
    text-align: left;
    font-size: 32px;
}

.lend-more {
    margin-top: 15px;
    margin-bottom: 26px;
    font-size: 24px;
    text-align: right;
    font-weight: bold;
    cursor: pointer;
    vertical-align: middle;
}

.lend-more img:hover {
    content: url('../../public/assets/arrow_circle_hover.svg');
    width: 26px;
    height: 26px;
}

.preview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2.7vw;
    padding-bottom: 2vh;
    margin: 0 auto;
}
