/* Autoword.css */
.auto-complete {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  width: 470px; /* 너비 설정 */
  background-color: rgba(255, 255, 255, 0.8); /* 투명한 배경 색상 설정 */
  backdrop-filter: blur(8px); /* 배경 블러 효과 추가 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 드롭 셰도우 추가 */
  border: none; /* 테두리 제거 */
  border-radius: 25px;
}

.auto-complete div {
  padding: 10px;
  cursor: pointer;
}

.auto-complete div:hover {
  background-color: #f0f0f0;
}
