/* ChatLeftPanel.css */
.left-panel {
  width: 50%;
  height: 100%;
  float: left;
  background-color: #bcbcbc;
  border-radius: 32px 0px 0px 32px;
}

.chat-title {
  margin: 32px 0px 0px 32px;
  font-size: 32px;
  font-weight: bolder;
  text-align: left;
}

.chat-search-input {
  width: 90%;
  margin: 16px 0px 0px 16px;
  padding: 8px 0px 8px 19px;
  font-size: 16px;
  border: 1px solid #2a2a2a;
  border-radius: 16px;
}

.chat-list {
  background-color: #ffffff;
  width: 90%;
  margin: 32px 0px 0px 32px;
  padding: 5px;
  border-radius: 32px;
}
