/* ChatRightPanel.css */
.right-panel {
  width: 65%; /* 오른쪽 패널의 너비는 전체의 절반입니다. */
  height: 100%; /* 화면 높이를 따라갑니다. */
  float: right; /* 오른쪽으로 정렬됩니다. */
  background-color: rgba(210, 210, 210, 0.8);
  border-radius: 0px 32px 32px 0px;
}

.chat-input {
  width: calc(
    100% - 70px
  ); /* 버튼을 제외한 입력창의 너비는 전체에서 버튼의 너비를 뺀 값입니다. */
}

.send-button {
  width: 60px; /* 버튼의 너비를 조절하세요. */
  /* 버튼 스타일을 원하는 대로 추가하세요. */
}
