.ChatRoominfo {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 22px 12px 0px 12px;
  border-radius: 16px;
  height: 96px;
  justify-content: space-between;
  padding: 0px 16px;
  box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.25);
  position: relative;
}
.ChatRoominfo-Info-Container {
  display: flex;
  align-items: center;
}
.ChatRoominfo-img {
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  border-radius: 100px;
  margin-right: 24px;
}
.ChatRoominfo-img img {
  width: 35px;
  height: 35px;
}
.ChatRoominfo-username {
  text-align: left;
  font-size: 24px;
  font-weight: 800;
}
.ChatRoominfo-itemname {
  text-align: left;
  font-size: 20px;
  font-weight: 600;
}
.ChatRoominfo-complete-button {
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  font-size: 16px;
  font-weight: 900;
  border: none;
  border-radius: 8px;
  background-color: rgba(221, 221, 221, 0.7);
  margin-right: 8px;
}
.ChatRoominfo-complete-button img {
  width: 16px;
  height: 12px;
}
.ChatRoominfo-plan-button {
  align-items: center;
  width: 120px;
  height: 40px;
  font-size: 16px;
  font-weight: 800;
  border: none;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
}
.ChatRoominfo-plan-button img {
  width: 16px;
  height: 17px;
  margin-right: 8px;
}

/* Overlay styles */
.chatRoominfo-overlay {
  position: absolute;
  /* margin-right: 25%; */
  /* right: 0; */
  z-index: 1;
  width: calc(48.5% - 22px);
  margin: 8px 12px 0 12px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(25px);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  height: 232px;
}

.chatRoominfo-overlay-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 32px;
}
.chatRoominfo-overlay-date {
  background-color: rgba(221, 221, 221, 0.7);
  width: calc(45% - 48px);
  height: 80px;
  border-radius: 24px;
  padding: 20px 24px;
}
.chatRoominfo-overlay-date-text {
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  color: #999999;
  /* margin-bottom: 8px; */
}
.chatRoominfo-overlay-date-day {
  display: flex;
  font-size: 16px;
  font-weight: 700;
  color: #999999;
  align-items: baseline;
}
.chatRoominfo-overlay-date-day input {
  background-color: transparent;
  border: none;
  width: 20%;
  font-size: 24px;
  font-weight: 800;
  text-align: right;
  padding: 0;
  margin-right: 4px;
}
.chatRoominfo-overlay-date-day input[name="year"] {
  width: 36%;
}
.chatRoominfo-overlay-date-time {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  color: #999999;
  align-items: center;
}
.chatRoominfo-overlay-date-time input {
  background-color: transparent;
  border: none;
  width: 18%;
  font-size: 24px;
  font-weight: 800;
  text-align: left;
  padding: 0;
}
.chatRoominfo-overlay-date-time input[name="minute"] {
  margin-left: 2px;
}
.chatRoominfo-overlay-button {
  display: flex;
  margin-top: 18px;
  justify-content: right;
  margin-right: 3%;
}
.chatRoominfo-overlay-cancel-button,
.chatRoominfo-overlay-submit-button {
  width: 104px;
  height: 40px;
  border-radius: 24px;
  font-size: 14px;
  font-weight: 700;
  border: none;
}
.chatRoominfo-overlay-cancel-button {
  background-color: rgba(221, 221, 221, 0.7);
  color: #2f2f2f;
  margin-right: 8px;
}
.chatRoominfo-overlay-submit-button {
  background-color: rgba(24, 24, 24, 0.9);
  color: #ffffff;
}
