.react-calendar {
  width: 335px;
  height: 335px;
  background: #f4f4f4;
  border: none;
  border-radius: 25px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  padding: 7%;
  position: relative;
}
.Checkdayhover {
  position: absolute;
  top: 50%; /* 날짜 중심으로 설정 */
  left: 50%; /* 날짜 중심으로 설정 */
  transform: translate(-50%, -50%); /* 중앙 정렬 */
  width: 40px; /* 날짜의 크기와 동일하게 설정 */
  height: 40px; /* 날짜의 크기와 동일하게 설정 */
  /* 다른 요소에 가려지지 않도록 설정 */
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* 모든 날짜 버튼 */
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  height: 44px;
  background: none;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f4f4f4;
  color: black;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
  justify-content: center;
}

.react-calendar__month-view__weekdays abbr {
  text-decoration: none;
  font-weight: 800;
}

.react-calendar__tile {
  position: relative;
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
  font: inherit;
  font-size: 0.833em;
  border-radius: 50%;
  /* transition: background-color 0.3s; */
  /* background-color: #76baff; */
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e21b1b;
}

.react-calendar__tile--now {
  background-color: black;
  color: white;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}

.react-calendar__tile--active {
  background: black;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: black;
}

.dot {
  border-radius: 50%;
  width: 0.3rem;
  height: 0.3rem;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
}
.dot.start {
  background-color: #13f287; /* 시작일은 초록색 */
  left: 40%; /* 시작일의 점을 왼쪽으로 이동 */
}

.dot.end {
  background-color: #ff5733; /* 종료일은 주황색 */
  left: 60%; /* 종료일의 점을 오른쪽으로 이동 */
}

.hover-content {
  position: absolute;
  transform: translate(-50%, -100%);
  background-color: rgb(0, 255, 34);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
