.Footer {
    margin-top: 26px;
    margin-bottom: 26px;
    font-size: 14px;
    color: #bebebe;
}
.project-info,
.disclaimer {
    margin-top: 15px;
}
.links {
    margin-top: 15px;
    font-weight: bold;
}
