.green-box {
    background-color: #13f287;
    width: calc(32% - 13px);
    height: 335px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    padding: 0px;
}

.description {
    text-align: left;
    margin: 40px 24px 10px 24px;
    font-size: 36px;
    color: #000000;
    font-weight: bold;
    height: 40px;
}

.greenbox-move {
    justify-content: flex-end;
    position: absolute;
    bottom: 21px;
    right: 20px;
}

.greenbox-button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    text-align: right;
    font-weight: bold;
    cursor: pointer;
}

.greenbox-button img:hover {
    content: url('../../public/assets/arrow_circle_hover.svg');
    width: 20px;
    height: 20px;
}
