.GuestDeal {
  background-color: rgba(221, 221, 221, 0.7);
  width: calc(55% - 42px);
  word-wrap: break-word;
  text-align: left;
  padding: 24px 0 52px 21px;
  border-radius: 16px;
  margin: 0px auto 8px 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-weight: 600;
}
.GuestDeal-text {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 4px;
}
.GuestDeal-date {
  font-size: 16px;
  font-weight: 600;
  color: #494949;
  margin-top: 4px;
}
