.ImageTags {
  background-color: #f4f4f4;
  width: 597px;
  height: 235px;
  border-radius: 25px;
  padding: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ImageTagsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 12px;
}
