.product-box {
    background-color: #f2f2f2;
    width: 335px;
    height: 335px;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 25px;
}

.image-container {
    position: absolute;
    width: 305px;
    height: 192px;
    top: 14px;
    left: 16px;
    margin-right: 20px;
    border-radius: 15px;
    overflow: hidden;
}

.image-container img {
    width: 150px;
    border-radius: 10px;
}

.product-details {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    margin-top: 180px;
    justify-content: space-between;
}

.product-info {
    width: 300px;
    display: flex;
    align-items: center;
}

.product {
    margin-top: 5px;
    text-align: left;
}

.price,
.rental-days {
    margin-right: 5px;
}

.heart-container {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.heart-container span {
    margin-left: 5px;
}

.heart-icon {
    width: 20px;
    height: 20px;
}
