.lend-form-product-img-title {
    margin-top: 38px;
    margin-bottom: 24px;
    text-align: left;
    font-size: 32px;
    font-weight: bold;
}
.photo-big-container {
    display: flex;
    flex-wrap: wrap;
}
.photo-container {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}
.upload-box {
    width: 96px;
    height: 96px;
    background-color: #dddddd;
    margin-right: 16px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 0px;
    border-radius: 24px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(100px);
    border: 1px solid rgba(210, 210, 210, 0.8);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.lend-form-photo-num {
    margin-top: 8px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
.photo-wrapper {
    width: 98px;
    height: 98px;
    margin-right: 16px;
    position: relative;
    margin-bottom: 0px;
}
.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
}
.lend-from-product-name-title {
    margin-top: 48px;
    margin-bottom: 24px;
    text-align: left;
    font-size: 32px;
    font-weight: bold;
}
.lend-form-product-name input {
    width: calc(100% - 48px);
    height: 67px;
    padding: 0px 24px;
    font-size: 18px;
    border: 0px;
    border-radius: 16px;
    background-color: #dddddd;
    outline: none;
    backdrop-filter: blur(100px);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.lend-form-product-name input::placeholder {
    color: #999999;
}
.lend-form-hashtag {
    position: relative;
    text-align: left;
}
.lend-form-product-name-hashtag-title {
    margin-top: 48px;
    margin-bottom: 24px;
    text-align: left;
    font-size: 32px;
    font-weight: bold;
}
.hashtag-list {
    display: flex;
    white-space: nowrap;
}
.hashtag-item {
    font-size: 16px;
    font-weight: bolder;
    border: 3px solid #000000;
    border-radius: 48px;
    display: flex;
    align-items: center;
    padding: 12px 12px;
    margin-right: 8px;
    margin-bottom: 16px;
}

.hashtag-item button {
    background: none;
    border: none;
    padding: 0;
    color: red;
    margin-left: 8px;
}
.lend-form-hashtag input {
    width: calc(100% - 48px);
    height: 67px;
    padding: 0px 24px;
    font-size: 18px;
    border: 0px;
    border-radius: 16px;
    background-color: #dddddd;
    outline: none;
    backdrop-filter: blur(100px);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.lend-form-hashtag input::placeholder {
    color: #999999;
}
.lend-autoword {
    position: absolute;
    top: calc(100% - 315px);
    width: calc(100% - 40px);
    font-size: 20px;
}
.lend-form-hashtag-info {
    margin-top: 24px;
    margin-left: 5%;
    font-size: 20px;
    font-weight: normal;
}
.lend-form-price {
    position: relative;
    text-align: left;
}
.lend-form-price-title {
    margin-top: 48px;
    margin-bottom: 24px;
    text-align: left;
    font-size: 32px;
    font-weight: bold;
}
.lend-form-price-krw {
    width: 23%;
    height: 48px;
    border: none;
    border-bottom: 3px solid black;
    background-color: transparent;
    font-size: 36px;
    outline: none;
    font-weight: bold;
    line-height: 48px;
    text-align: left;
}
.lend-form-price-krw:focus,
.lend-form-price-day:focus {
    outline: none;
}

.lend-form-price-krw::placeholder,
.lend-form-price-day::placeholder {
    text-align: left;
    color: #999999;
}
.lend-form-price-unit {
    display: inline;
    margin: 0;
    font-size: 36px;
    font-weight: bold;
}
.lend-form-price-unit2 {
    display: inline;
    font-size: 24px;
    color: #999999;
    font-weight: bold;
}
.lend-form-price-day {
    width: 15%;
    height: 42px;
    border: none;
    border-bottom: 3px solid #999999;
    background-color: transparent;
    font-size: 24px;
    outline: none;
    font-weight: bold;
    line-height: 42px;
    text-align: left;
    padding-bottom: 0;
}
.lend-form-product-info-title {
    margin-top: 48px;
    margin-bottom: 24px;
    text-align: left;
    font-size: 32px;
    font-weight: bold;
}

.lend-form-product-info textarea {
    width: calc(100% - 48px);
    height: 240px;
    background-color: #dddddd;
    border: none;
    border-radius: 16px;
    padding: 24px;
    font-size: 20px;
    outline: none;
    resize: none;
    font-family: inherit;
    backdrop-filter: blur(100px);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.lend-form-product-info textarea::placeholder {
    font-size: 20px;
    color: #999999;
}
textarea::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.lend-form-submit-container {
    width: 100%;
    margin-top: 48px;
    justify-content: space-between;
}
.lend-form-submit {
    width: 160px;
    height: 49px;
    color: #ffffff;
    background-color: #181818;
    border-radius: 15px;
    font-size: 20px;
    margin-left: 80%;
    margin-top: 48px;
    margin-bottom: 48px;
    align-self: flex-end;
    cursor: pointer;
    backdrop-filter: blur(100px);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.delete-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}
