.text-wrapper {
  margin-top: 20px;
  margin-bottom: 25px;
  font-weight: bold;
  text-align: left;
  font-size: 32px;
}

.lend-more {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.main-more-button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  text-align: right;
  font-weight: bold;
  cursor: pointer;
}

.lend-more img:hover {
  content: url("../../public/assets/arrow_circle_hover.svg");
  width: 24px;
  height: 24px;
}
