.MyChat {
  background-color: #a191de;
  width: fit-content;
  max-width: calc(45% - 32px);
  word-wrap: break-word;
  text-align: left;
  padding: 10px 16px;
  border-radius: 16px;
  margin: 0px 10px 8px auto;
}
