.Need-detail-need {
    color: #909090;
    font-weight: 700;
    font-size: 24px;
    text-align: left;
    margin-top: 14px;
}

.Need-detail-title {
    font-weight: 700;
    font-size: 32px;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 24px;
}
.Need-detail-content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-top: 24px;
}
.Need-detail-content {
    font-weight: 400;
    font-size: 20px;
    text-align: left;
}
.Need-detail-user-info-image-container {
    background-color: rgba(221, 221, 221, 0.7);
    height: 96px;
    width: 96px;
    border-radius: 100%;
    margin: 0px 0px 24px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(100px);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.Need-detail-user-info-image-container img {
    width: 48px;
}
.Need-detail-user {
    background-color: #f4f4f4;
    border-radius: 25px;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 24px;
}
.Need-detail-user-info-name {
    font-size: 32px;
    font-weight: 800;
}
.Need-detail-chat-button {
    width: 280px;
    height: 48.17px;
    color: #ffffff;
    background-color: #181818;
    border-radius: 15px;
    font-size: 20px;
    align-self: flex-end;
    cursor: pointer;
    margin-top: 52px;
}
.Need-detail-heart-container {
    margin-top: 24px;
    display: flex;
    align-items: center;
}
.Need-detail-heart-icon {
    width: 32px;
}
.Need-detail-heart-count {
    margin-left: 16px;
    color: #909090;
}
.Need-detail-hashtags-container {
    text-align: left;
}
.Need-deatil-hashtag {
    background-color: #e2e2e2;
    font-weight: 600;
    font-size: 16px;
    border-radius: 8px;
    padding: 8px 12px;
    margin-right: 8px;
}

.Need-detail-image-title {
    margin-top: 50px;
    font-size: 32px;
    font-weight: 800;
    text-align: left;
}
.Need-detail-images-container {
    margin-top: 24px;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.Need-detail-image-wrapper {
    flex: 0 0 auto;
    margin-right: 16px;
}

.Need-detail-image {
    display: block;
    height: auto;
    width: 335px;
    pointer-events: none;
    border-radius: 25px;
}

.Need-detail-images-container::-webkit-scrollbar {
    display: none;
}

.Need-detail-hr {
    border: none; /* 기본 테두리를 없애기 위해 사용 */
    border-top: 2px solid #909090; /* 굵기와 색상을 설정 */
}
