.load-more-button {
    margin-top: 16px;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    align-items: center;
    height: 40px;
    width: 160px;
    border-radius: 48px;
    border: none;
}
.load-more-button img {
    margin-bottom: 2px;
    margin-left: 8px;
}
.list-row-container {
    display: flex;
    flex-wrap: wrap;
    margin: -8px; /* 각 ListPreview 요소 주위에 16px의 간격을 만듭니다. */
}

.list-preivew-wrapper {
    margin: 8px; /* 각 ListPreview 요소의 위아래 간격을 조정합니다. */
}
