.register-container {
    width: 70vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    margin-bottom: 100px;
    flex-direction: column;
}

.first-button {
    background-color: #ffffff;
    border: none;
    border-radius: 35px;
    width: 125px;
    height: 50px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 36px;
}

.zeroDivRef,
.firstDivRef {
    width: 960px;
    height: 360px;
    margin-left: 48px;
}

.firstDivRef p:first-child {
    font-size: 48px;
    font-weight: bold;
    text-align: left;
}

.firstDivRef p:nth-of-type(2) {
    font-size: 24px;
    color: #606060;
    margin-bottom: 0px;
}

.label-agree {
    font-size: 24px;
    color: #606060;
    text-decoration: underline;
}

.second-button {
    width: 160px;
    height: 48px;
    color: #ffffff;
    background-color: #181818;
    border-radius: 15px;
    font-size: 20px;
    margin-left: 752px;
    align-self: flex-end;
    cursor: pointer;
}

/*fourthDivRef*/
.fourthDivRef-firsttext {
    top: 200px;
    font-size: 40px;
    font-weight: bold;
    margin-right: 10px;
}

.fourthDivRef-secondtext {
    font-size: 24px;
    color: #606060;
    margin-bottom: 0px;
}
.fourthDivRef input[type='email'] {
    border: 1px solid #d2d2d2;
    width: 400px;
    height: 56px;
    border-radius: 13px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px;
    margin-right: 48px;
}

.fourthDivRef img {
    cursor: pointer;
}

.fourthDivRef-input {
    margin-top: 32px;
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}

.fourthDivRef-second {
    display: flex;
    align-items: center;
}

.fourthDivRef-second button {
    width: 160px;
    height: 48px;
    color: #ffffff;
    background-color: #181818;
    border-radius: 15px;
    font-size: 20px;
    margin-left: 267px;
    margin-top: 20px;
    align-self: flex-end;
    cursor: pointer;
    display: inline-block;
}

/*fifthDivRef*/
.fifthDivRef-firsttext {
    top: 200px;
    font-size: 40px;
    font-weight: bold;
    margin-right: 10px;
}

.fifthDivRef-secondtext {
    font-size: 24px;
    color: #606060;
    margin-bottom: 0;
}
.fifthDivRef input[type='email'] {
    border: 1px solid #d2d2d2;
    width: 400px;
    height: 56px;
    border-radius: 13px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px;
    margin-right: 48px;
}

.fifthDivRef img {
    cursor: pointer;
}

.fifthDivRef-input {
    margin-top: 32px;
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}

.fifthDivRef-second {
    display: flex;
    align-items: flex-start;
}
.fifthDivRef-thirdtext {
    border: none;
    background: none;
    text-decoration: underline;
    cursor: pointer;
    outline: none;
    color: #606060;
    font-size: 24px;
    margin-top: 8px;
    padding: 0;
}
.fifthDivRef-secondbutton {
    width: 160px;
    height: 48px;
    color: #ffffff;
    background-color: #181818;
    border-radius: 15px;
    font-size: 20px;
    margin-left: 425px;
    cursor: pointer;
    display: inline-block;
}

/*sixDivRef*/
.sixDivRef-firsttext {
    top: 200px;
    font-size: 40px;
    font-weight: bold;
    margin-right: 10px;
    margin-bottom: 0px;
}

.sixDivRef-secondtext {
    font-size: 40px;
    font-weight: bold;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 0;
    margin-top: 0;
}

.sixDivRef-thirdtext {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
}

.sixDivRef input[type='text'] {
    border: none;
    border-bottom: 3px solid black;
    background-color: transparent;
    font-size: 40px;
    width: 240px;
    outline: none;
    font-weight: bold;
}

.sixDivRef input[type='text']::placeholder {
    color: black;
}

.sixDivRef-input {
    display: flex;
    align-items: center;
}
.last-button {
    background-color: #d2d2d2;
    border: none;
    border-radius: 48px;
    width: 360px;
    height: 72px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 26px;
    margin-left: 552px;
    margin-top: 0;
}

.sixDivRef-second {
    display: flex;
    align-items: flex-start;
}
