.search-container {
  position: relative; /* 상대적인 위치 설정 */
  height: 40px;
  width: 310px;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  border-radius: 100px;
  background-color: rgba(221, 221, 221, 0.4);
}

.search-content {
  position: relative;
  margin-bottom: 10px;
}

.search-input {
  width: 162px;
  border: none;
  font-size: 14px;
  padding: 0;
  background-color: transparent;
  outline: none;
}

.search-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.search-toggle {
  width: 140px;
}

.dropdown-options {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  z-index: 999; /* 다른 요소에 영향을 주지 않도록 높은 z-index 값 설정 */
}

.dropdown-options button {
  display: block;
  width: 100%;
  border: none;
  background-color: transparent; /* 버튼의 배경색 없애기 */
  cursor: pointer;
}

.dropdown-options button + button {
  margin-top: 5px; /* 버튼 사이 간격 조정 */
}
.Searchprev {
  display: flex;
}
