.sidebar {
  position: fixed;
  top: 0;
  left: -380px;
  width: 380px;
  height: 100%;
  transition: left 0.4s ease;
  margin-bottom: 30px;
  z-index: 1;

  background-color: rgba(239, 239, 239, 0.7);
  backdrop-filter: blur(10px);
}

.sidebar.open {
  left: 0;
}

.close-btn {
  position: absolute;
  top: 25px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.sidebar-header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.logo {
  margin-right: auto;
}
