.header {
  padding-bottom: 20px;
}
.nav_top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_bottom {
  margin-top: 10px;
  position: relative;
  display: flex;
  align-items: center;
}
.left-header {
  display: flex;
  justify-content: space-between;
  align-items: left;
}

.right-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-icon {
  cursor: pointer;
}

.logo-container {
  flex-grow: 1; /* 로고 컨테이너가 헤더의 남은 공간을 모두 차지하도록 함 */
  text-align: right; /* 로고를 오른쪽 정렬 */
}

.logo {
  max-width: 100%; /* 로고 이미지가 컨테이너를 넘어서지 않도록 함 */
}
